@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.adjustSize{
  min-height: 20vh;
}

.color-navbar *{
  color: #f9f9ed;
}

.font-bradley{
 font-family: "Comic Neue", cursive;
}

.text-shadow-light{
  text-shadow: 2px 2px #00000054;
}
.text-shadow-light-2 {
  text-shadow: 2px 2px #55535340;
}
body{
  background-image: linear-gradient(103deg, #0a3031 0%, #121355 50%, #000000 100%);
  }
  
  .color-header-title {
      color: #38cf99;
  }
  
  .color-header-text {
      color: #4df5b9bd;
  }
  .input-fields-bg{
      background-color: #aed2e7;
  
  }
  .bg-field-label { 
      background-color: #6071bd;
  }
  footer * {
      color: #11809b;
  }
  .color-white{
    color: white;
  }
  
